<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jepfa.obfusser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.navigation.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.credential.detail.CredentialDetailActivity"
            android:label="@string/title_credential_detail"
            android:parentActivityName=".ui.navigation.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.navigation.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.credential.input.CredentialInputNameActivity"
            android:label="@string/title_activity_credential_input" />
        <activity
            android:name=".ui.credential.input.CredentialInputPatternActivity"
            android:label="@string/title_activity_credential_input"
            android:parentActivityName=".ui.credential.input.CredentialInputNameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.credential.input.CredentialInputNameActivity" />
        </activity>
        <activity
            android:name=".ui.credential.input.CredentialInputHintsActivity"
            android:label="@string/title_activity_credential_input"
            android:parentActivityName=".ui.credential.input.CredentialInputPatternActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.credential.input.CredentialInputPatternActivity" />
        </activity>
        <activity
            android:name=".ui.credential.input.CredentialInputHintsTextActivity"
            android:label="@string/title_activity_credential_input"
            android:parentActivityName=".ui.credential.input.CredentialInputHintsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.credential.input.CredentialInputHintsActivity" />
        </activity>
        <activity
            android:name=".ui.group.assignment.SelectGroupForCredentialActivity"
            android:parentActivityName=".ui.navigation.NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.navigation.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.template.detail.TemplateDetailActivity"
            android:label="@string/title_template_detail"
            android:parentActivityName=".ui.navigation.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.navigation.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.template.input.TemplateInputNameActivity"
            android:label="@string/title_activity_template_input" />
        <activity
            android:name=".ui.template.input.TemplateInputPatternActivity"
            android:label="@string/title_activity_template_input"
            android:parentActivityName=".ui.template.input.TemplateInputNameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.template.input.TemplateInputNameActivity" />
        </activity>
        <activity
            android:name=".ui.template.input.TemplateBuildPatternActivity"
            android:label="@string/title_activity_template_input"
            android:parentActivityName=".ui.template.input.TemplateInputPatternActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.template.input.TemplateInputPatternActivity" />
        </activity>
        <activity
            android:name=".ui.template.input.TemplateInputHintsActivity"
            android:label="@string/title_activity_template_input"
            android:parentActivityName=".ui.template.input.TemplateInputPatternActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.template.input.TemplateInputPatternActivity" />
        </activity>
        <activity
            android:name=".ui.template.input.TemplateInputHintsTextActivity"
            android:label="@string/title_activity_template_input"
            android:parentActivityName=".ui.template.input.TemplateInputHintsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.template.input.TemplateInputHintsActivity" />
        </activity>
        <activity android:name=".ui.credential.input.SelectTemplateForCredentialActivity" />
        <activity
            android:name=".ui.group.detail.GroupDetailActivity"
            android:label="@string/title_group_detail"
            android:parentActivityName=".ui.navigation.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.jepfa.obfusser.ui.navigation.NavigationActivity" />
        </activity>
        <activity
            android:name=".ui.group.input.GroupInputNameActivity"
            android:label="@string/title_activity_group_input" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".service.SecurityService"
            android:exported="false"></service>
    </application>

</manifest>